/* Styles for examples-section
	========================================================================== */

.examples-section {
	max-width: 929px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.example-column {
	padding: 0;

	&:first-child {
		padding-right: 8px;

		@media (max-width: 1024px) and (min-width: 640px) {
			padding-right: 6px;
			margin-bottom: 11px;
		}

		@media (max-width: 640px) {
			padding-right: 0;
			margin-bottom: 11px;
		}
	}
	
	&:nth-child(2) {
		padding-left: 3px;
		padding-right: 5px;

		@media (max-width: 1024px) and (min-width: 640px) {
			padding-left: 6px;
			padding-right: 0;
			margin-bottom: 11px;
		}

		@media (max-width: 640px) {
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 11px;
		}
	}

	&:nth-child(3) {
		padding-left: 5px;
		padding-right: 3px;

		@media (max-width: 1024px) and (min-width: 640px) {
			padding-left: 0;
			padding-right: 6px;
		}

		@media (max-width: 640px) {
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 11px;
		}
	}

	&:last-child {
		padding-left: 8px;
		
		@media (max-width: 1024px) and (min-width: 640px) {
			padding-left: 6px;
		}

		@media (max-width: 640px) {
			padding-left: 0;
		}	
	}
}

.example {
	padding: 12px 12px 20px 12px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

	background: #fff;
	text-align: center;
	font-size: 12px;

	@media (max-width: 1024px) and (min-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (max-width: 640px) {
		padding-left: 30px;
		padding-right: 30px;
	}	
}

.example-caption {
	margin-top: 18px;
	margin-bottom: 20px;

	text-align: justify;
	text-indent: 35px;
	color: #1f1f1f;
}

.more-link {
	text-align: right;

	a {
		color: #000;
		font-size: 12px;

		&:hover {
			text-decoration: none;
		}
	}
}
