	/* Styles for footer
	========================================================================== */

.footer {
	max-width: 929px;
	min-height: 55px;
	margin: 0 auto;
	padding-left: 21px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

	background: #fff;

	@media (max-width: 640px) {
		padding: 10px 0;
	}
}

.footer-links {
	display: inline-block;
	line-height: 55px;

	@media (max-width: 640px) {
		display: block;
		margin: 0 auto;

		text-align: center;
		line-height: 20px;
	}

	a {
		margin-right: 10px;

		text-decoration: none;
		font-size: 14px;
		color: #545454;
		
		@media (max-width: 640px) {
			display: block;
		}

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}
}