/* Styles for header
	========================================================================== */

.header {
	max-width: 929px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.logo-container {
	padding-top: 5px;

	text-align: center;
}

.logo {
	margin: 0;

	font-size: 88px;
	color: #b8b6b4;

	@media (max-width: 640px) {
		font-size: 56px;
	}
}

.nav-container {
	position: relative; 

	height: 55px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

	background: #fff;
}

.nav-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 55px;
	list-style: none;

	@media (max-width: 640px) {
		display: none;
	}

	li {
		display: inline-block;
		margin-left: 60px;

		@media (max-width: 1024px) and (min-width: 640px) {
			margin-left: 25px;
		}

		a {
			text-decoration: none;
			font-size: 18px;
			color: #5b5b5b;

			&:hover {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}

.search-form {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.search-input {
	width: 263px;
	height: 32px;
	padding-left: 17px;
	border: 1px solid rgba(205, 205, 205, 0.38);
	box-sizing: border-box;

	background-color: #fafafa;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 18px;
	color: #5b5b5b;

	&:focus {
		outline: none;
	}

	@media (max-width: 1024px) and (min-width: 640px) {
		width: 200px;
	}

	@media (max-width: 640px) {
		width: 150px;
		height: 26px;

		font-size: 14px;
	}

	&::placeholder {
		opacity: 0.2;
		font-style: italic;
	}

	&:focus::placeholder {
		color: transparent;
	}
}

.search-submit {
	position: absolute;
  top: 1px;
  right: 1px;

	height: 30px;
	width: 50px;
	border: none;
	
	background: #fafafa url("../img/icons/search-icon.png") 50% no-repeat;
	color: transparent;

	@media (max-width: 640px) {
		height: 24px;
		width: 36px;
	}
}

.mobile-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
	background: #708090;
	text-align: center;

	li {
		border-bottom: 1px solid #4F4F4F;

		a {
			display: block;
			padding: 8px 0;
			
			color: #fff;
			font-size: 18px;
			text-decoration: none;

			&:hover {
				background: #778899;
			}
		}
	}

	li:last-child {
		border-bottom: none;
	}	
}

.hamburger {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  
  display: none;
  
  color: #5b5b5b;
  font-size: 26px;
  font-weight: bold;
  outline: none;

  @media (max-width: 640px) {
		display: block;
	}
}

.cross {
	position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-30%);
  
  display: none;
  
  color: #5b5b5b;
  font-size: 48px;
  font-weight: bold;
  outline: none;
}
