/* Styles for slider-section
	========================================================================== */

.slider-section {
	position: relative;
	max-width: 929px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 15px 12px 13px 12px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

	background: #fff;
	text-align: center;
}

.rslides {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
  overflow: hidden;
}

.rslides li {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
  width: 100%;
  
  -webkit-backface-visibility: hidden;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  border: 0;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	display: block;
	width: 43px;
	height: 48px;
}

.prev {
	left: 30px;

	background: url("../img/icons/sprite.png") -58px -5px no-repeat;
}

.next {
	right: 30px;
	
	background: url("../img/icons/sprite.png") -5px -5px no-repeat;
}