/* Styles for welcome-section
	========================================================================== */

.welcome-section {
	max-width: 929px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 11px;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

	background: #fff;

	@media (max-width: 640px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.description-container {
	margin-left: 230px;

	@media (max-width: 640px) {
		margin-left: 0;
	}
}

.welcome-heading {
	margin: 0;
	margin-bottom: 10px;

	@media (max-width: 640px) {
		text-align: center;
	}
}

.welcome-description {
	margin: 0;
	margin-bottom: 20px;

	font-size: 12px;
	text-align: justify;
	text-indent: 35px;
	color: #1f1f1f;
}

.welcome-flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 212px;
	height: 168px;
	float: left;

	@media (max-width: 640px) {
		float: none;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

.flex-row {
	display: flex;
	justify-content: space-between;
}