<section class="examples-section row">
	<div class="example-column small-12 medium-6 large-3 columns">
		<figure class="example">
			<img src="assets/img/photos/example-img.jpg" alt="">
			<figcaption class="example-caption">
				Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
			</figcaption>
			<div class="more-link">
				<a href="#">more...</a>
			</div>
		</figure>
	</div>
	<div class="example-column small-12 medium-6 large-3 columns">
		<figure class="example">
			<img src="assets/img/photos/example-img.jpg" alt="">
			<figcaption class="example-caption">
				Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
			</figcaption>
			<div class="more-link">
				<a href="#">more...</a>
			</div>
		</figure>
	</div>
	<div class="example-column small-12 medium-6 large-3 columns">
		<figure class="example">
			<img src="assets/img/photos/example-img.jpg" alt="">
			<figcaption class="example-caption">
				 	Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
			</figcaption>
			<div class="more-link">
				<a href="#">more...</a>
			</div>
		</figure>
	</div>
	<div class="example-column small-12 medium-6 large-3 columns">
		<figure class="example">
			<img src="assets/img/photos/example-img.jpg" alt="">
			<figcaption class="example-caption">
				Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
			</figcaption>
			<div class="more-link">
				<a href="#">more...</a>
			</div>
		</figure>
	</div>
</section>
