<header class="header">
	<div class="logo-container">
		<h1 class="logo">Logo</h1>
	</div>
	<nav class="nav-container">
		<button class="hamburger">&#9776;</button>
  	<button class="cross">&#735;</button>
		<ul class="nav-list">
			<li><a href="#">Home</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<form class="search-form" action="">
			<input class="search-input" type="search" placeholder="search">
			<input class="search-submit" type="submit">
		</form>
	</nav>
	<ul class="mobile-menu">
		<li><a href="#">Home</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</header>
