<section class="slider-section">
	<ul class="rslides">
  	<li><img src="assets/img/photos/slider-photo1.jpg" alt=""></li>
  	<li><img src="assets/img/photos/slider-photo2.jpg" alt=""></li>
  	<li><img src="assets/img/photos/slider-photo3.jpg" alt=""></li>
	</ul>
</section>
