<section class="welcome-section">
	<div class="welcome-flex-container">
		<div class="flex-row">
			<img src="assets/img/photos/example-small-img.jpg" alt="">
			<img src="assets/img/photos/example-small-img.jpg" alt="">
		</div>
		<div class="flex-row">
			<img src="assets/img/photos/example-small-img.jpg" alt="">
			<img src="assets/img/photos/example-small-img.jpg" alt="">
		</div>
	</div>
	<div class="description-container">
		<h3 class="welcome-heading">Welcome to the site</h3>
		<p class="welcome-description">
			Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer  Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer.
		</p>
		<div class="more-link">
			<a href="#">more...</a>
		</div>
	</div>
</section>
