/* Main and global styles
	========================================================================== */
	
* {
	box-sizing: border-box;
}

body {
	background-color: #ada6a0;
}

input[type="search"] {
  appearance: none;
}

figure {
	margin: 0;
}

.main-container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 20px;
	
	background: radial-gradient(circle 300px at top, #f8f7f7, #ada6a0);
}

