/* Styles for sprite
	========================================================================== */

.sprite {
    background-image: url("../img/icons/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-next-icon {
    width: 43px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-prev-icon {
    width: 43px;
    height: 48px;
    background-position: -58px -5px;
}

.sprite-search-icon {
    width: 28px;
    height: 22px;
    background-position: -5px -63px;
}